.uk-navbar-nav>li>a {
    color: #000;
    text-transform: initial;
    font-weight: 500;
    font-size: 16px;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #eaf9ec;
}

/* modal */
.uk-modal-dialog {
    width: 540px;
}

.uk-modal-title {
    font-size: 40px;
}

.uk-modal-close-default{
    font-size: 38px;
    font-weight: normal;
    line-height: 38px;
    color: #444649;
    text-decoration: none;
    transition: all .3s;
}
.uk-modal-close-default:hover{    
    color: #808080;
    text-decoration: none;
}

.uk-modal-header {
    padding: 50px 30px 10px;
}


.uk-label {
    background: #222222;
    font-size: 0.675rem;
}

.uk-progress {
    height: 5px;
    border-radius: 5px;
}

.uk-progress::-webkit-progress-value {
    background-color: #99CB00;
}

.uk-progress::-moz-progress-bar {
    background-color: #99CB00
}

.uk-progress::-ms-fill {
    background-color: #99CB00;
}


.bg-success{
    background-color: #0d8400;
}
.bg-orange{
    background-color: #ffd65c;
}
.bg-red{
    background-color: #d43c00;
}