$global-inverse-color: #fff;
$inverse-global-color: rgba($global-inverse-color, 0.9);
$inverse-global-muted-color: rgba($global-inverse-color, 0.7);

$navbar-background: #90785f;
$navbar-color-mode: light;

$navbar-dropdown-background: #90785f;